parameters:
  level: 8
  paths:
    - src/
  excludes_analyse:
    - tests/
  checkGenericClassInNonGenericObjectType: false
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    -
      path: src/Container.php
      message: '#Parameter \#1 \$function of method .+::makeMethodArguments\(\) expects ReflectionFunctionAbstract\, ReflectionMethod\|null given\.#'